{% extends 'base.html' %}

{% block content %}
    <h1>{{ profile_owner }}님의 프로필 페이지.</h1>
    <hr>
    <p>팔로잉: {{ profile_owner.followings.all|length }}</p>
    <p>팔로워: {{ profile_owner.followers.all|length }}</p>
    {% if request.user != profile_owner %}
        {% if request.user in profile_owner.followers.all %}
        <a href="{% url 'account:follow' profile_owner %}">UNFOLLOW</a>
        {% else %}
        <a href="{% url 'account:follow' profile_owner %}">FOLLOW</a>
        {% endif %}
    {% endif %}
    <div class="container-feed">
        <div class="grid">
            {% for fe in feed %}
                {% if fe.user == profile_owner %}
                    <div class="item">
                        <a href="/feed/detail/{{fe.id}}">
                            <img src="{{ fe.post_image }}" alt="image" name="image" />
                            <p>{{fe.post_title}}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}