{% extends 'base.html' %}
    <title>{% block head %}{% endblock %}upload page</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <label for="image">
      <div class="image_box">{% block image %}image{% endblock %}</div><br/>
      <input class="url" type="url" value="url을 입력" />
      <button>확인</button>
    </label><br/>
    <lebel for="contents">
      <input class="title" value="제목을 입력해주세요." />{% block nickname %}nickname{% endblock %}<br/>
      <input class="content" value="내용을 입력해주세요." />
      <button>입력</button>
    </label>

